// bower:scss
// endbower

@import 'partials/variables';
@import 'partials/icons';
@import 'partials/general';
@import 'partials/header';
@import 'partials/nav';
@import 'partials/sections';
@import 'partials/input';

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
