* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    background-color: $color-bg;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    @media (max-width: $breakpoint-mobile) {
        font-size: 1.5rem;
    }
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.container {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.validation input:invalid {
    color: red;
}

.hidden {
    display: none !important;
}
