header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-height: 26rem;
    padding: 0 1rem 4rem;
    background-image: url("../images/header-bg@1x.jpg");
    background-size: cover;
    background-position: center;
    @media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
        background-image: url("../images/header-bg@2x.jpg");
    }
    @media (min-width: $breakpoint-desktop) {
        background-image: url("../images/header-bg-lg.jpg");
    }
}

.intro {
    max-width: 32rem;
    margin: 0.5rem 0 1rem;
    color: $color-bg;
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
}

.logo {
    width: 124px;
}

.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -9px;

    &__message {
        padding-bottom: 1rem;
        font-size: 0.9rem;
        text-align: center;
        color: $color-bg;
        opacity: 0.7;
    }
    &__buttons {
        a {
            padding: 0.5rem 1rem;
            margin: 0 0.25rem;
            border-radius: 3px;
            font-size: 0.9rem;
            font-weight: 400;
            color: $color-bg;
            text-decoration: none;
        }

        &--fb {
            background-color: $color-fb;
        }

        &--tw {
            background-color: $color-tw;
        }
    }
}
