input,
button {
    position: relative;
    height: 50px;
    width: 100%;
    float: left;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    outline: none;
    transition: 0.5s;
}

input[type="email"] {
    padding: 0 16px;
}

button {
    width: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0;
    color: white;
    background-color: $color-accent;
    @media (max-width: $breakpoint-mobile) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &:hover {
        background-color: $color-accent-lighten;
    }
    &:active {
        background-color: $color-accent-darken;
    }
}

.input-group {
    display: table;
    width: 100%;
    max-width: 30rem;

    &__email,
    &__button {
        display: table-cell;
    }

    &__email {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__button {
        width: 1%;
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}