.nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-nav;

    .container {
        justify-content: center;
    }

    &__links {
        @media (max-width: $breakpoint-mobile) {
            display: flex;
            width: 100%;
        }

        &--link {
            display: inline-block;
            padding: 1rem 2.5rem;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            text-align: center;
            font-weight: 400;
            color: $color-bg;
            text-decoration: none;
            @media (max-width: $breakpoint-mobile) {
                padding: 1rem 0;
                flex-grow: 1;
                flex-shrink: 1;
            }
            &:hover {
                border-bottom: 5px solid $color-accent;
            }
        }
    }
}

.nav-fixed {
    position: fixed;
    top: -100px;
    bottom: initial;
    padding: 0 1rem;
    background-color: $color-nav-fixed;
    z-index: 1000;
    @media (max-width: $breakpoint-mobile) {
        display: none;
    }

    .container {
        justify-content: space-between;

    }

    &__logo {
        display: flex;
        align-items: center;

        &--title {
            color: $color-bg;
            margin-left: 1rem;
            font-weight: 600;
        }
    }

    .nav__links--link {
        padding: 1rem 1.5rem;
    }
}

.nav-fixed.fixed-top {
    top: 0;
    transition: 0.3s;
}