section {
    position: relative;
    display: flex;
    padding: 0 1rem;
    overflow: hidden;
}

@import 'sections/about';
@import 'sections/everywhere';
@import 'sections/task-management';
@import 'sections/features';
@import 'sections/signup';
