$color-bg: #fff;
$color-light: #f6f9fa;
$color-dark: #243139;
$color-accent: #2ebcea;
$color-accent-lighten: #59cdf2;
$color-accent-darken: #0090be;
$color-nav: rgba(0, 0, 0, 0.7);
$color-nav-fixed: #232323;
$color-fb: #3563e7;
$color-tw: #25b3f3;
$color-error: red;

$breakpoint-mobile: 768px;
$breakpoint-desktop: 1280px;
