.about {
    padding: 0 5rem;
    @media (max-width: $breakpoint-mobile) {
        padding: 0 1rem;
    }

    .container {
        flex-direction: row;
        align-items: center;
        margin-top: 10rem;
        margin-bottom: 10rem;
        @media (max-width: $breakpoint-mobile) {
            flex-direction: column;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .about__description,
        .about__image {
            width: 50%;
            @media (max-width: $breakpoint-mobile) {
                width: 100%;
            }
        }
    }

    &__description {
        padding-right: 2rem;
        @media (max-width: $breakpoint-mobile) {
            padding: 0 2rem;
        }

        &--text {
            margin-bottom: 2rem;
            @media (max-width: $breakpoint-mobile) {
                margin-bottom: 3rem;
            }
        }

        &--button {
            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
    }

    &__image--laptop {
        @media (max-width: $breakpoint-mobile) {
            width: 100%;
        }
    }
}