.everywhere {
    color: $color-bg;
    background-color: $color-accent;

    .container {
        flex-direction: column;
        margin-top: 6rem;
        margin-bottom: 6rem;
        @media (max-width: $breakpoint-mobile) {
            margin-top: 2rem;
            margin-bottom: 4rem;
        }

    }

    &__description {
        max-width: 42rem;
        margin: 0 auto;
        padding-bottom: 8rem;
        text-align: center;
        @media (max-width: $breakpoint-mobile) {
            padding-bottom: 5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            text-align: left;
        }
    }

    &__details {
        display: flex;
        width: 100%;
        min-width: 45rem;
        align-items: baseline;
        justify-content: space-around;

        &--item {
            text-align: center;
            width: 33.33%;
            @media (max-width: $breakpoint-mobile) {
                width: auto;
            }

            &-image {
                margin-bottom: 1rem;
            }

            &-title {
                margin-bottom: 0;
            }

        }
    }
}