.features {
    .container {
        align-items: baseline;
        justify-content: space-around;
        margin-top: 10rem;
        margin-bottom: 10rem;
        @media (max-width: $breakpoint-mobile) {
            flex-direction: column;
            margin-top: 4rem;
            margin-bottom: 2rem;
        }

    }

    &__item {
        padding: 0 2rem;
        width: 33.33%;
        text-align: center;
        @media (max-width: $breakpoint-mobile) {
            padding: 0 2rem;
            margin-bottom: 3rem;
            text-align: left;
            width: 100%;
            flex-direction: column;
        }

        &--image {
            margin-bottom: -1rem;
            @media (max-width: $breakpoint-mobile) {
                &-mobileapp {
                    content: url('../images/search-icon-mobile@2x.png');
                    width: 37px;
                }

                &-desktopapp {
                    content: url('../images/messaging-icon-mobile@2x.png');
                    width: 59px;
                }

                &-webapp {
                    content: url('../images/filesharing-icon-mobile@2x.png');
                    width: 36px;
                }
            }
        }

        &--title {
            @media (max-width: $breakpoint-mobile) {
                margin-bottom: 0;
            }
        }
    }
}