.signup {
    color: $color-bg;
    background-color: $color-dark;

    .container {
        max-width: 45rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @media (max-width: $breakpoint-mobile) {
            margin-top: 2rem;
            margin-bottom: 3rem;
            align-items: flex-start;
        }
    }

    &__header {
        @media (max-width: $breakpoint-mobile) {
            order: 1;
            padding-left: 2rem;
            padding-right: 2rem;
            text-align: left;
        }
    }

    &__input {
        margin-bottom: 2rem;
        @media (max-width: $breakpoint-mobile) {
            order: 3;
            margin: 0 auto 3rem;
        }
    }

    &__description {
        margin-bottom: 5rem;
        @media (max-width: $breakpoint-mobile) {
            order: 2;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-bottom: 2rem;
            text-align: left;
        }
    }

    &__share {
        display: flex;
        @media (max-width: $breakpoint-mobile) {
            order: 4;
            margin: 0 auto;
        }

        > *:not(:last-child) {
            margin-right: 1rem;
        }

        &--on {
            height: 3rem;
            width: 3rem;
            margin-top: -0.6rem;
            border-radius: 50%;
            border: 1px solid $color-bg;;
            background-repeat: no-repeat;
            background-position: center center;
            transition: 0.25s;
            &:hover {
                background-color: $color-bg;
            }

        }

        &--on-fb {
            background-image: $icon-fb-1x;
            background-size: 7px 16px;
            &:hover {
                background-image: $icon-fb-hover-1x;
            }
            @media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
                background-image: $icon-fb-2x;
                &:hover {
                    background-image: $icon-fb-hover-2x;
                }
            }
        }

        &--on-tw {
            background-image: $icon-tw-1x;
            background-size: 16px 13px;
            &:hover {
                background-image: $icon-tw-hover-1x;
            }
            @media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
                background-image: $icon-tw-2x;
                &:hover {
                    background-image: $icon-tw-hover-2x;
                }
            }
        }
    }
}