.task-management {
    height: 36rem;
    padding: 0 5rem;
    background-color: $color-light;
    @media (max-width: $breakpoint-mobile) {
        height: auto;
        padding: 0 1rem;
    }

    .container {
        flex-direction: row;
        align-items: center;
        height: 100%;
        @media (max-width: $breakpoint-mobile) {
            margin-top: 2rem;
            flex-direction: column-reverse;
        }
    }

    &__image {
        position: relative;
        display: table;
        margin-left: -3rem;
        height: 36rem;
        width: 400px;
        @media (max-width: $breakpoint-mobile) {
            margin-left: 0;
            height: auto;
            width: auto;
            align-items: flex-start;
        }

        &--iphone {
            position: absolute;
            height: 825px;
            width: 400px;
            bottom: 0;
            @media (max-width: $breakpoint-mobile) {
                position: relative;
                height: auto;
                width: 75%;
                max-width:400px;
                margin-left: 1.5rem;
                margin-bottom: -38%;
            }
        }
    }

    &__description {
        width: 50%;
        margin-left: 8rem;
        margin-right: 1rem;
        @media (max-width: $breakpoint-mobile) {
            width: auto;
            margin: 0 2rem 2rem;
        }
    }
}